# Dependencies
node_modules

# Build outputs
dist
build

# Environment files
.env
.env.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
*.ps1
*.bat
*.tmp
*.log

# Misc
h -u origin master'
